* {
  margin: unset;
  color: white;
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100dvh;
}

nav,
header {
  padding: 0.25em;
  display: flex;
  gap: 20px;
  background-color: #243242;
  padding-left: 10px;
  padding-right: 10px;
}

.kommune-layer-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.kommune-overlay {
  translate: -50% calc(-50% - 20px);
  border: 3px solid #0df2d7;
  border-radius: 7px;
  background-color: #0f2033;
  padding: 0.5em;
  color: white;
}

.focus-button {
  background-color: #0f2033;
  border: 3px solid #0df2d7;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.focus-button:hover {
  background-color: #0df2d7;
  border: 3px solid #0f2033;
  color: #0f2033;
}

main {
  display: grid;
  grid-template-columns: 1fr auto auto;
  background-color: #243242;
}

main aside {
  display: grid;
  grid-template-columns: 0;
  transition: grid-template-columns 0.5s ease-in-out;
  overflow-x: clip;
  max-height: calc(200vh - 100px);
  overflow-y: auto;
}

main aside.visible {
  grid-template-columns: auto;
}

main aside > * {
  padding: 0.5rem;
  min-width: 25ch;
}
