* {
  margin: unset;
  color: white; 
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100dvh;
}

main {
  background-color: lightblue;
}

nav,
header {
  padding: 0.25em;
  display: flex;
  gap: 20px;
  background-color: #0f2033;
}

.kommune-overlay {
    translate: -50% calc(-50% - 20px);
    border: 3px solid #0df2d7;
    border-radius: 7px;
    background-color: #0f2033;
    padding: 0.5em;
    color: white;
}