* {
  margin: unset;
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100dvh;
}

main {
  background-color: lightblue;
}

nav,
header {
  padding: 0.25em;
  display: flex;
  gap: 20px;
}

.kommune-overlay {
    translate: -50% calc(-50% - 20px);
    background-color: white;
    padding: 0.5em;
}